/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
.gallery-image {
  /* width : 360px;
  height :200px; */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery-link {
  
}
.gallery-item {
 
}
.main-title {
/* text-align: center;   */
color: rgb(13, 4, 21);
}
  
.modal-image {
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  text-align: center;
 }
 .info-about{
  display: flex;
  gap: 5px;
  flex-direction: row;
 }
.info{
  display: flex;
  flex-direction: column;
}
.cl-name {
  font-size: 9px;
}
.cl-number {
  font-size: 8px;
  text-align: center;
}
.search-form{
  text-align: center;
 
  font-size:30px;
}
